---
version: "2"
services:
  boinc1:
    build:
      context: boinc_endpoint/
      dockerfile: "Dockerfile.boinc"
    image: "cep-boinc:latest"
    environment:
      servername: "cleanenergy.worldcommunitygrid.org"
      error_log: "/var/log/httpd/cleanenergy.worldcommunitygrid.org_error_ssl.log"
      custom_log: "/var/log/httpd/cleanenergy.worldcommunitygrid.org_access_ssl.log"
    labels:
      edu.harvard.fas.rc.description: "AAG CEP boinc endpoint container"
      edu.harvard.fas.rc.customer: 'Aspuru-Guzik Group, CCB'
      edu.harvard.fas.rc.type: "web"
      edu.harvard.fas.rc.database: "false"
      edu.harvard.fas.rc.ticket: "99999999"
    #network_mode: host or bridge? not sure here
    volumes:
      - /tmp:/var/www/upload
      - ./boinc_endpoint/25-cleanenergy.worldcommunitygrid.org.conf:/etc/httpd/conf.d/25-cleanenergy.worldcommunitygrid.org.conf
    expose:
      - 80
  boinc2:
    depends_on:
      - boinc1
    image: "cep-boinc:latest"
    environment:
      servername: "cleanenergy.worldcommunitygrid.org"
      error_log: "/var/log/httpd/cleanenergy.worldcommunitygrid.org_error_ssl.log"
      custom_log: "/var/log/httpd/cleanenergy.worldcommunitygrid.org_access_ssl.log"
    labels:
      edu.harvard.fas.rc.description: "AAG CEP boinc endpoint container"
      edu.harvard.fas.rc.customer: 'Aspuru-Guzik Group, CCB'
      edu.harvard.fas.rc.type: "web"
      edu.harvard.fas.rc.database: "false"
      edu.harvard.fas.rc.ticket: "99999999"
    volumes:
      - /tmp:/var/www/upload
      - ./boinc_endpoint/25-cleanenergy.worldcommunitygrid.org.conf:/etc/httpd/conf.d/25-cleanenergy.worldcommunitygrid.org.conf
    expose:
      - 80
  haproxy:
    image: haproxy:latest
    environment:
      ssl_cert_combined: "/opt/ssl/cleanenergy.worldcommunitygrid.org.combined.pem"
      admin: "administrator"
      password: "oQueiSh3choo1Xio"
    labels:
      edu.harvard.fas.rc.description: "haproxy web frontend"
      edu.harvard.fas.rc.customer: 'Aspuru-Guzik Group, CCB'
      edu.harvard.fas.rc.type: "web"
      edu.harvard.fas.rc.database: "false"
      edu.harvard.fas.rc.ticket: "99999999"
    links:
      - boinc1
      - boinc2
    volumes:
      - ./boinc_endpoint/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
      - ./boinc_endpoint/cleanenergy.worldcommunitygrid.org.combined.pem:/opt/ssl/cleanenergy.worldcommunitygrid.org.combined.pem
    ports:
      - 443:443
      - 70:70
    expose:
      - 443
      - 70
